<mat-card *ngIf="book" class="book-card">
  <mat-card-header>
    <mat-card-title>{{ book.title }}</mat-card-title>
    <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
    <button *ngIf="isBookRelativeToUser(book) || isAdmin" (click)="openEditBookDialog()" mat-raised-button color="primary" class="edit-button">Edit Book</button>
    <button (click)="downloadBookFile()" mat-raised-button color="primary" class="download-button">Download Book</button>
  </mat-card-header>

  <div class="card-content">
    <img class="image" mat-card-image [src]="bookCover" alt="Book cover">
    <div class="info">
      <mat-card-content>
        <p><strong>Language:</strong> {{ book.language }}</p>
        <mat-divider></mat-divider>

        <p><strong>Average Rating:</strong></p>
        <div class="user-rating avg-rating">
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
            <i class="fa-star" [ngClass]="star <= book.averageRating ? 'fas' : 'far'"></i>
          </ng-container>
        </div>
        <mat-divider></mat-divider>

        <p><strong>Reviews And Ratings:</strong></p>
        <mat-list *ngFor="let reviewAndRating of book.reviewAndRatings">
          <div class="item">
          <mat-list-item style="height: 100%">
            <div>
              User: {{ reviewAndRating.user.firstName }} {{ reviewAndRating.user.lastName }}
            </div>
            <div>
              Review: {{ reviewAndRating.bookReview.reviewContent }}
            </div>
            <div class="user-rating">
              <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                <i class="fa-star" [ngClass]="star <= reviewAndRating.bookRating.ratingValue ? 'fas' : 'far'"></i>
              </ng-container>
              <mat-divider></mat-divider>
            </div>
          </mat-list-item>
          </div>
        </mat-list>
      </mat-card-content>
    </div>
  </div>

  <div class="card-actions">
    <form class="review-form">
      <mat-form-field class="review-field">
        <textarea [(ngModel)]="reviewValue" name="review" matInput placeholder="Your review"></textarea>
      </mat-form-field>
      <mat-form-field class="rating-field">
        <mat-select [(ngModel)]="ratingValue" name="rating" placeholder="Your rating">
          <mat-option *ngFor="let star of [1, 2, 3, 4, 5] let i = index" [value]="star">
            <ng-container *ngFor="let s of [].constructor(i+1)">
              &#9733;
            </ng-container>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)="addReviewAndRating(reviewValue, ratingValue)">Submit Review and Rating</button>
    </form>
  </div>
</mat-card>
