.book-card {
  position: relative;
  width: 70%;
  margin: 40px auto;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.mat-card-header .mat-card-title {
  color: #32325d;
  font-weight: 600;
}

.downloadButton {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-content {
  display: flex;
  flex-direction: row;
}

.image {
  width: 160px !important;
  height: auto !important;
  object-fit: cover;
}

.info {
  flex-grow: 1;
  margin-left: 20px;  // added some margin for better looks
}

.mat-card-content p{
  margin: 20px 0;
}

.mat-card-content mat-list-item:last-child {
  font-weight: bold;
  color: #32325d;
}

.review-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.review-form mat-form-field {
  margin: 20px 0;
}

button {
  background-color: #5e72e4;
  color: white;
  border-radius: 3px;
  padding: 12px 30px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s, transform 0.3s;
  letter-spacing: 1px;
  text-transform: uppercase;
}

button:hover {
  background-color: #233dd2;
  transform: translateY(-3px);
}

button:active {
  transform: translateY(1px);
}

.book-card .user-rating i {
  color: #c7c707;
}
