<div class="book-list" *ngIf="books.length; else noBooks">
  <mat-card class="book-card mat-elevation-z8" *ngFor="let book of books" [routerLink]="['/book', book.id]">
    <div class="card-content">
      <img mat-card-image class="book-card-img" [src]="getBookCover(book)" alt="Book cover">
      <div>
        <mat-card-header>
          <mat-card-title>{{ book.title }}</mat-card-title>
          <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Language:</strong> {{ book.language }}</p>
          <p><strong>Rating:</strong>
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
              <i class="fa-star" [ngClass]="star <= book.averageRating ? 'fas' : 'far'"></i>
            </ng-container>
          </p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="warn" (click)="openModal(book.id); $event.stopPropagation();">Delete</button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
  <mat-paginator style="bottom: 0; right: 0; position: fixed"
                 [length]="length"
                 (page)="handlePageEvent($event)"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 aria-label="Select page">
  </mat-paginator>
</div>

<ng-template #noBooks>
  <div class="centered-content">
    <mat-card>
      <mat-card-content class="centered-text">
        <p>No books available</p>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

<div class="modal" [class.show]="showModal" tabindex="-1" style="display: block;" *ngIf="showModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete confirmation</h5>
        <button type="button" class="btn-close" aria-label="Закрыть" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete this book?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteBook(selectedBookId)">Delete</button>
      </div>
    </div>
  </div>
</div>
