<div class="book-list" *ngIf="books.length; else noBooks">
  <mat-card class="book-card mat-elevation-z8" *ngFor="let book of books" [routerLink]="['/book', book.id]">
    <div class="card-content">
      <img mat-card-image class="book-card-img" [src]="getBookCover(book)" alt="Book cover">
      <div>
        <mat-card-header>
          <mat-card-title>{{ book.title }}</mat-card-title>
          <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Language:</strong> {{ book.language }}</p>
          <p><strong>Rating:</strong>
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
              <i class="fa-star" [ngClass]="star <= book.averageRating ? 'fas' : 'far'"></i>
            </ng-container>
          </p>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</div>

<ng-template #noBooks>
  <p>No books available</p>
</ng-template>

<mat-paginator style="bottom: 0; right: 0; position: fixed"
               [length]="length"
               (page)="handlePageEvent($event)"
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 10, 25, 100]"
               aria-label="Select page">
</mat-paginator>
