<nav class="navbar navbar-expand navbar-dark bg-black">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Library</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthenticated" routerLink="/user/{{ userId }}">My profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthenticated" routerLink="/my-books">My books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthenticated" routerLink="/book/create">Upload book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthenticated && isAdmin" routerLink="/users">User list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!isAuthenticated" routerLink="/login">Login</a>
        <a class="nav-link" *ngIf="isAuthenticated" (click)="logoutUser()" style="cursor: pointer">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
