<div class="container login-form">
  <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <!-- Email input -->
    <mdb-form-control class="mb-4">
      <input mdbInput type="email" id="email" class="form-control" formControlName="email"/>
      <label mdbLabel class="form-label" for="email">Email address</label>
    </mdb-form-control>

    <!-- Password input -->
    <mdb-form-control class="mb-4">
      <input mdbInput type="password" id="password" class="form-control" formControlName="password"/>
      <label mdbLabel class="form-label" for="password">Password</label>
    </mdb-form-control>

    <!-- Submit button -->
    <button mdbRipple type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Sign in</button>

    <!-- Register buttons -->
    <div class="text-center">
      <a>Not a member? <a routerLink="/register">Register</a></a>
    </div>
  </form>
</div>
